name: tower_of_focus
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  audioplayers: ^4.0.3 #Do NOT change the version unless ABSOLUTELY necessary, the compiler will throw a hissy fit
  intl: any
  google_fonts: any
  shared_preferences: ^2.2.2
  flutter_isolate: ^2.0.4
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  assets: 
    #- assets/
    - assets/audio/rickroll.mp3
    - assets/clay_tower.png
    - assets/scaffold_clay.png
    - assets/stone_tower.png
    - assets/coin.png
  uses-material-design: true
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
